/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
html {
    background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

a:focus,
a:hover {
    font-style: italic;
}

/* Header styles */
header {
    padding: 1.5em 0 2em 0;
    border-bottom: 3px solid #931420;
    background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header h2 {
    font-size: 175%;
    color: #800000;
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

header img {
    float: left;
    padding: 0 30px;
}

/* Main Navigation Menu styles */
#nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav_menu li {
    float: left;
    position: relative;
}

#nav_menu li a {
    display: block;
    width: 20%;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}

#nav_menu li a:hover {
    background-color: #931420;
}

#nav_menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

#nav_menu li:hover ul {
    display: block;
}

#nav_menu li ul li {
    float: none;
}

#nav_menu li ul li a {
    width: 100%;
}

/* Style for "current" class */
#nav_menu .current {
    color: yellow;
}

/* Style to clear floats after the navigation menu */
#nav_menu::after {
    content: "";
    display: block;
    clear: both;
}

/* Section styles */
section {
    width: 525px;
    float: right;
    padding: 0 20px 20px 20px;
}

section h1 {
    font-size: 150%;
    padding: .5em 0 .25em 0;
    margin: 0;
}

section h2 {
    color: #800000;
    font-size: 130%;
    padding: .5em 0 .25em 0;
}

section p {
    padding-bottom: .5em;
}

section blockquote {
    padding: 0 2em;
    font-style: italic;
}

section ul {
    padding: 0 0 .25em 1.25em;
}

section li {
    padding-bottom: .35em;
}

/* Article styles */
article {
    padding: .5em 0;
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;
}

article h2 {
    padding-top: 0;
}

article h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

article img {
    float: right;
    margin: .5em 0 1em 1em;
    border: 1px solid black;
}

/* Aside styles */
aside {
    width: 215px;
    float: right;
    padding: 0 0 20px 20px;
}

aside h2 {
    color: #800000;
    font-size: 130%;
    padding: .5em 0 .25em 0;
}

aside h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

aside img {
    padding-bottom: 1em;
}

/* Footer styles */
footer {
    background-color: #931420;
    clear: both;
}

footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}
